<header>Defeated Trainer <time>{{ TIME }}</time></header>
<a href="http://PokeWorlds.com/user.php?id={{ USERNAME }}">{{ USERNAME|title }}</a> Defeated the AI Trainer {{ ARGS[0]|title }}!
<footer><a href="#{{ ARGS[1] }}">Watch Battle</a></footer>
