{# ATK,DEF,SPATK,SPDEF,SPEED #}
<table class='stats colorful'>
    <tr>
        <td>Attack</td>
        <td>{{ ATK }}</td>
    </tr>
    <tr>
        <td>Sp. Attack</td>
        <td>{{ SPATK }}</td>
    </tr>
    <tr>
        <td>Defense</td>
        <td>{{ DEF }}</td>
    </tr>
    <tr>
        <td>Sp. Defense</td>
        <td>{{ SPDEF }}</td>
    </tr>
    <tr>
        <td>Speed</td>
        <td>{{ SPEED }}</td>
    </tr>
</table>